@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');


body {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(249, 74, 74));
    padding: 10px;
    border-style: solid;
    border-width: 10px;
    border-image: linear-gradient(to bottom, rgb(249, 74, 74), rgb(255, 255, 255)) 1;
    font-family: alkatra;
  }


p {
    color: rgb(11, 11, 11);

}

a {
    color: rgb(108, 20, 29);
    text-decoration:none;
}

table {
    color: rgb(249, 74, 74);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

tr:nth-child(2n) {
    background-color:rgb(222, 221, 221)
}

h1 {
    text-align: center;
    /* font-family: "Marker Felt", fantasy; */


}

header {
    text-align: center;
    line-height: 50px;
    height: 75px;
}

a:hover {
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: 0.5s;
}

#reviews {
    background-color: rgba(255, 255, 255, 0.653);
}

#stars {
    color: solid rgb(255, 255, 0);
}



th {
    color: black;
}

#foot {
    position:fixed;
    bottom: 5px;
    width: 90%;
    height: 50px;
    padding:10px;
    text-align: right;
}

footer {
    /* position: relative; */
    text-align: center;
    /* width: 100%; */
    line-height: 5px;
    /* background-color: bisque; */
    font-size: 15px;

}

nav {
    border: 1px;
    border-color:rgb(11, 11, 11);
    padding: 16px;
}

img {
    height: 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}

.grid-item {
    background-color:rgba(0, 0, 0, 0.095);
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.391);
    transition: all 0.5s;
}

.grid-item:hover {
    box-shadow:5px 5px 100px white;
    text-shadow:5px 5px 100px white;
}

.center {
    text-align: center;
}

main {
    /* overflow-y:scroll; */
    text-align: auto;
}
